body {
    background-color: purple;

}
.main_content {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}
h1 {
    font-family: serif;
    font-size: 14px;
    color: red;
}
.framed_image {
    width: -50%;
    border: orange;
    border-style: dotted;
    border-width: 14px;
    border-radius: 5px;
    padding: 10px;
    animation: blink-image .6s steps(2, start) infinite;
}
.img-row {
    width: 25%;

}
.nav-bar {
    background-color: rgb(248, 110, 218);
    
}
.nav-bar a {
    color: lime;
    animation: blink .6s steps(2, start) infinite;
}
.dino-img {
    animation: dino 1s infinite;
}
p {
    font-size: 100px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;

}
.warning {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}
@keyframes blink {
    to {
        color: red;
    }
}
@keyframes blink-image {
    to {
    visibility: hidden;
    }
}
@keyframes dino {
    0% {
        opacity: 0;
        filter: hue-rotate(90deg)
        transform: scale(0.3, 0.3);

    }
    40% {
        opacity: 1;
        transform: scale(0.5, 0.5);

    }
    60% {
        opacity: 0;
        transform: scale(0.7, 0.7);

    }
    80% {
        opacity: 1;
        transform: scale(1, 1);
        
    }
}