@font-face {
  font-family : 'arcadeclassicregular';
  font-style  : normal;
  font-weight : normal;
  src         : url('./fonts/arcadeclassic-webfont.woff2') format('woff2'),
                url('./fonts/arcadeclassic-webfont.woff') format('woff');
}

body {
  position        : static;
  margin          : auto;
  overflow        : hidden;
  background      : #000;
  perspective     : 1000px;
  transform-style : preserve-3d;
}

.logo {
  z-index      : 1;
  display      : block;
  width        : 20vw;
  margin-top   : 50%;
  margin-right : auto;
  margin-left  : auto;
}

/* menu navbar */

/* background image of the menu */

.navigation-image {
  display          : block;
  position         : fixed;
  top              : 50%;
  left             : 3vw;
  width            : 275px;
  transform        : translate(0, -50%) rotateY(40deg);
  transform-origin : left center;
}

/* menu list */

.navigation-box {
  display          : block;
  position         : fixed;
  top              : 50%;
  left             : 3vw;
  width            : 250px;
  padding-bottom   : 25px;
  padding-left     : 15px;
  transform        : translate(0, -50%) rotateY(40deg);
  transform-origin : left center;
}

.navigation-box ul {
  padding-left : 15px;
}

.navigation-box li {
  margin          : 10px 0;
  list-style-type : none;
}

/* this adds blink animation and finger at hover */

.navigation-box li:hover {
  list-style-image    : url('./images/indicator.png');
  list-style-position : inside;
  animation           : blink-animation .6s steps(2, start) infinite;
  /* margin-left: 15px; */
}

.navigation-box a {
  color           : #FF0000;
  text-decoration : none;
  font-family     : 'arcadeclassicregular',
                    '';
  font-size       : 35px;
}

@keyframes blink-animation {
  0% {
    opacity : 1;
  }

  49% {
    opacity : 1;
  }

  50% {
    opacity : 0;
  }

  100% {
    opacity : 0;
  }
}

/* grid animation */

.top {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  margin           : auto;
  background-image : linear-gradient(
                       0deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     ),
                     linear-gradient(
                       90deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     );
  background-size  : 50px 50px;
  box-shadow       : inset 0px -50vh 40vmin 40vmin #000;
  animation        : rad 2s reverse linear infinite;
  transform        : rotateX(-80deg) scale(2);
  transform-origin : top center;
}

.bottom {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  margin           : auto;
  background-image : linear-gradient(
                       0deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     ),
                     linear-gradient(
                       90deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     );
  background-size  : 50px 50px;
  box-shadow       : inset 0px 50vh 40vmin 40vmin #000;
  animation        : rad 2s linear infinite;
  transform        : rotateX(80deg) scale(2);
  transform-origin : bottom center;
}

@keyframes rad {
  100% {
    background-position : 0px 50px;
  }
}

/* media queries */

@media
  only screen
  and (max-height : 700px) {
  .navigation-box {
    transform : translate(0, -50%) rotateY(40deg) scale(0.65, 0.65);
  }

  .navigation-image {
    transform : translate(0, -50%) rotateY(40deg) scale(0.65, 0.65);
  }
}

.container {
  position: sticky; top: 250px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: stretch;

}

.gallery {

}

.gallery__img {
}

.gallery__item--1 {
  grid-column: 1;

}

.gallery__item--2 {}

.gallery__item--3 {}

.gallery__item--4 {}

.gallery__item--5 {}

.gallery__item--6 {
  grid-column: auto;
}

/* old main */

/**
 * .main { width: 50vw; height: 50vh; position: relative; display: block;
 * background-color: black; border: #FF0000; border-style: double; border-width:
 * 6; overflow: auto; margin-left: 30vw; margin-right: auto; top: 60%;
 * transform: translateY(-50%); bottom: 0; left: 0; right: 0; color: ivory;
 * padding: 3vw; font-family: 'arcadeclassicregular'; } .main-content {
 * position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
 * font-size: large; color: azure; }
 */
