@font-face {
    font-family: 'arcadeclassicregular';
    src: url('./fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('./fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ds_bios';
    src: url('./fonts/nintendo-ds-bios-webfont.woff2') format('woff2'),
         url('./fonts/nintendo-ds-bios-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'retro_gaming';
    src: url('./fonts/retro_gaming-webfont.woff2') format('woff2'),
         url('./fonts/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: black;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
    width: 20vw;
    z-index: 1;
}

/* menu navbar */

/* background image of the menu */
.navigation-image {
    position: fixed;
    display: block;
    transform-origin: left center;
    width: 275px;
    top: 50%;
    left: 3vw; 
    transform: translate(0, -50%) rotateY(40deg);
}
/* menu list */
.navigation-box {
    position: fixed;
    display: block;
    width: 250px;
    top: 50%;
    left: 3vw;
    transform: translate(0, -50%) rotateY(40deg);
    padding-left: 15px; 
    padding-bottom: 25px;
    transform-origin: left center;
}
.navigation-box ul {
    padding-left: 15px;
}
.navigation-box li {
    margin: 10px 0;
    list-style-type: none;
}
/* this adds blink animation and finger at hover */
.navigation-box li:hover {
    list-style-image: url('./images/indicator.png');
    list-style-position: inside;
    /* margin-left: 15px; */
    animation: blink-animation .6s steps(2, start) infinite;
}
.navigation-box a {
    font-family: 'retro_gaming';
    font-size: 25;
    color: #FF0000;
    text-decoration: none;
    position: relative;
    top: -1px; /* this centers the text with the indicator vertically */
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    
    49% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
/* grid animation */

.top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 69%, #FF0000 74%,#FF0000 75%,#FF0000 76%, #FF0000 77%, transparent 82%, transparent), linear-gradient(90deg, transparent 69%, #FF0000 74%,#FF0000 75%,#FF0000 76%, #FF0000 77%, transparent 82%, transparent);
    transform: rotateX(-80deg) scale(2);
    transform-origin: top center;
    box-shadow: inset 0px -50vh 40vmin 40vmin black;
    animation: rad 2s reverse linear infinite;
}
.bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 69%, #FF0000 74%, #FF0000 75%, #FF0000 76%, #FF0000 77%, transparent 82%, transparent), linear-gradient(90deg, transparent 69%, #FF0000 74%, #FF0000 75%, #FF0000 76%, #FF0000 77%, transparent 82%, transparent);
    transform: rotateX(80deg) scale(2);
    transform-origin: bottom center;
    box-shadow: inset 0px 50vh 40vmin 40vmin black;
    animation: rad 2s linear infinite;
}
@keyframes rad {
    100% {
        background-position: 0px 50px;
   }
}

/* media queries */

@media only screen and (max-height: 700px) {
    .navigation-box {
    transform: translate(0, -50%) rotateY(40deg) scale(0.65, 0.65);
   
    }
    .navigation-image {
    transform: translate(0, -50%) rotateY(40deg) scale(0.65, 0.65);
    }
}

.main-content {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    height: 60vh;
    transform: translate(30%, 45%);
    transform-origin: top;
    background-color:black;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}

#exchange .main-content {
    width: 50vw;
    transform: translate(50%, 45%);
    box-shadow: 0px 0px 30px 30px black;
}

.exchange-main {
    position: relative;
    margin: 1%;
    border:#FF0000;
}

.post {
    position: relative;
    margin: 1%;
    padding: 1%;
    height: fit-content;
    width: auto;
    border-bottom: solid maroon;
    border-top: solid maroon;
    transition: 0.5s;
}

/* forced to use transition because keyframes cant have reverse animation on mouse out, and it looks janky */
/* refresh bug is still there, but it doesnt look too bad */

.post:hover{
    transform: scale(1.02);
    border-color: red;
}

.post h1 {
    margin: 10px;
    width: 50%;
}

.post a:link, a:visited {
    text-decoration: none;
    color: red;
    font-family: 'retro_gaming';
}

.post h1:hover {
    animation: blink-animation .6s steps(2, start) infinite;
}

.post img {
    position: absolute;
    left: 60%;
    max-height:85%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 0;
    height: 10px;
    font-family: "ds_bios";
}
.info ul {
    padding-left: 0;
    margin: 10px;
}
.info ul li{
    display: inline-block;
    color: white;
    list-style-type: disc;
    margin-right: 10px;
    white-space:pre;
}


.info a {
    font-size: 12px;
}

.info a:hover {
    animation: white-fade 0.5s linear forwards;
}

/* have to use keyframes ove transition because transiotion hasa reload bug that cant be fixed without using js */
@keyframes white-fade {
    from {
        color: red;
    }
    to {
        color: white;
    }
}

.text {
    color: white;
    padding: 10px;
    font-family: 'ds_bios';
    font-size: 17px;
    width: 50%;
}

