/* Default Formating */
* {
  box-sizing: border-box;
  }

/* Header Formating */
  /* Header Default Formating */
header {
  height: 50vmin;
  background-image : linear-gradient(
                       0deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     ),
                     linear-gradient(
                       90deg,
                       transparent 69%,
                       #FF0000 74%,
                       #FF0000 75%,
                       #FF0000 76%,
                       #FF0000 77%,
                       transparent 82%,
                       transparent
                     );
  background-size  : 50px 50px;
  box-shadow       : inset 0px -50vh 40vmin 40vmin #000;
  animation        : rad 2s reverse linear infinite;
  transform        : rotateX(-80deg) scale(2);
  transform-origin : top center;
}
  /* Header Image (VB Logo) Formating */
header img{
  top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar Formating */
  /* Navbar Base Formating */
navbar {
  top: 50%;
  display          : block;
  position         : fixed;
  transform        : translate(0, -50%) rotateY(40deg);
  transform-origin : left center;
  
}
  /* Navbar Background Formating */
navbar img{
  margin: 0;
  max-height: fit-content;
}
  /* Navbar List Formating */
navbar li{
  position: relative;
  margin          : 10px 0;
  list-style-type : none;
}
/* Navbar Hover Fomating */
navbar li:hover{
  list-style-image    : url('./images/indicator.png');
  list-style-position : inside;
  animation           : blink-animation .6s steps(2, start) infinite;
  /* margin-left: 15px; */
}
    /* Navbar Link Formating */
navbar ul{
  padding-left : 15px;
}
  /* Navbar Text Formating */
navbar a{
  color           : #FF0000;
  text-decoration : none;
  font-family     : 'arcadeclassicregular',
                    '';
  font-size       : 35px;
}
  /* Navbar Blinking Icon */
@keyframes blink-animation {
  0% {
    opacity : 1;
  }

  49% {
    opacity : 1;
  }

  50% {
    opacity : 0;
  }

  100% {
    opacity : 0;
  }
}

/* Body Formating */
  /* Body Default Formating */
body {
  position        : static;
  margin          : auto;
  overflow        : hidden;
  background      : #000;
  perspective     : 1000px;
  transform-style : preserve-3d;
}
/* Main Section Formating */
main {
  width: 75%;
  float: left;
}

/* Footer Formating */
/* (Mirror of Header without Logo) */
  /* Footer Defaults */
footer {
  width: 100%;
}

/* Repsonsiveness */
  /* Row Formating */
    /* Should Clear Formating After Each Instance of "Row" in HTML */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  /* Base Grid */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
   /* For small Screens: */
@media only screen and (min-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  /* For SD Res */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  /* For HD Res: */
@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  /* For High Res: */
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@keyframes rad {
  100% {
    background-position : 0px 50px;
  }
}